* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  background-color: grey;
}

.container {
  display: flex;
  align-items: center;
}

.box {
  display: flex;
  align-items: center;
  list-style: none;
}