* {
    margin: 0;
    padding: 0;
}

body {
  margin: auto;
  margin-top: 100px;
  width: 700px;
  height: 400px;
  background-color: rgb(255, 255, 255);
}

.leftsection {
  float: left;
  display: grid;
  grid-template-columns: 215px 135px;
  grid-template-rows: 135px auto;
  background-color: rgb(245, 245, 245);
  width: 350px;
  height: 350px;
}

.logo-button {
  margin: 10px;
  width: 87px;
  height: 81px;
  border: none;
  background-image: url("Images/foxplayer.png")
}

.playlist-title {
  margin: 10px;
  margin-left: 20px;
}

.artwork {
  width: 135px;
  height: 135px;
  background-image: url("Images/music-placeholder.png");
  background-size: 135px;
}

.playlist {
  grid-column: span 2;
}

.rightsection {
  float: right;
  display: grid;
  background-color: green;
  width: 350px;
  height: 350px;
}

.controlpanel {
  display: flex;
  justify-content: center;
  background-color: blue;
  width: 100%;
}

audio {
  padding: 10px;
}