* {
    margin: 0;
    padding: 0;
}

body {
  margin: auto;
  margin-top: 100px;
  width: 700px;
  height: 400px;
  background-color: rgb(255, 255, 255);
}

.leftsection {
  float: left;
  display: grid;
  grid-template-columns: repeat(1fr, 1fr);
  grid-template-rows: repeat(1fr, 1fr);
  background-color: red;
  width: 350px;
  height: 350px;
}

.rightsection {
  float: right;
  display: grid;
  background-color: green;
  width: 350px;
  height: 350px;
}

.controlpanel {
  display: flex;
  justify-content: center;
  background-color: blue;
  width: 100%;
}

audio {
  padding: 10px;
}