.container {
    display: flex;
    align-items: center;
}

.item {
    align-self: flex-end;
    height: 191px;
    width: 191px;
}

.green {
    background: green;
}

.yellow {
    background: yellow;
}

.purple {
    background: purple;
}