* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(220, 214, 205)
}

.box {
    margin-top: 11px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    width: 624px;
    height: 784px;
    background-color: rgb(18, 119, 49)
}

.container-1 {
    
    margin-bottom: 16px;
    padding: 13px;
    height: 30px;
    background-color: rgb(255, 228, 46)
}

.container-2 {
    float: left;
    padding: 13px;
    width: 286px;
    height: 410px;
    background-color: rgb(255, 228, 46)
}

div.container-2:nth-of-type(3) {
    float: right;
}

.container-3 {
    margin-top: 468px;
    padding: 13px;
    height: 158px;
    background-color: rgb(255, 228, 46)
}

.skeleton-1 {
    float: left;
    margin-top: 96px;
    border: 2px solid black;
    height: 42px;
    width: 139px;
}

div.skeleton-1:nth-of-type(2) {
    float: right;
}

.skeleton-2 {
    margin-top: 193px;
    border: 2px solid black;
    height: 147px;
    width: 282px;
}