* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(51, 51, 51);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 203px);
    grid-gap: 13px;
    text-align: center;
    color: white;
}

div div {
    background: rgb(176, 42, 255);
}